<h1>Student Detail Page</h1>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
  <tr>
      <th scope="row"><%= @student.id %></th>
      <td> <%= @student.name %></td>
      <td> <%= @student.email %></td>
      <td> <%= @student.address %></td>
      <td> <%= @student.phone %></td>
    </tr>
    </tbody>
</table>