<h1>Edit Student</h1>
<%= form_with model: @student, url: edit_path do |form| %>
<% if @student.errors.any?  %>
 <div class = "alert alert-danger">
   <% @student.errors.full_messages.each do|messages|  %>
     <div> <%= messages %> </div>
   <% end %>
 </div>
<% end %>
<div class = "mb-3">
  <%= form.label :id %>
  <%= form.text_field :id , class:"form-control" ,placeholder: "Id", :readonly => true%>
</div>
<div class = "mb-3">
  <%= form.label :name %>
  <%= form.text_field :name , class:"form-control" ,placeholder: "Name" %>
</div>
<div class = "mb-3">
  <%= form.label :email %>
  <%= form.text_field :email , class:"form-control" ,placeholder: "Email" %>
</div>
<div class = "mb-3">
  <%= form.label :password %>
  <%= form.password_field :password ,class:"form-control", placeholder: "NewPassword" %>
</div>
<div class = "mb-3">
  <%= form.label :address %>
  <%= form.text_field :address,class:"form-control", placeholder: "Address" %>
</div>
<div class = "mb-3">
  <%= form.label :phone %>
  <%= form.text_field :phone,class:"form-control", placeholder: "Phone" %>
</div>
<div class = "mb-3">
  <%= form.submit %>
</div>
<% end %>
